{% extends 'posts/base.html' %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%block head%}
    <title>post_create</title>
    <style>
      main {
        height: 100vh;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    {%block content%}
    <form
      action="{% url 'posts:create' %}"
      method="post"
      enctype="multipart/form-data"
    >
      {%csrf_token%} {{form.as_p}}
      <button class="btn btn-success">등록하기</button>
    </form>
    {%endblock%}
  </body>
</html>
