{% extends 'posts/base.html' %} {%load static%}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <style>
      main {
        padding: 40px;
        height: 100%;
      }
      img {
        margin: 20px 0;
      }
    </style>
    {% endblock%}
  </head>
  <body>
    {% block content %}
    <h1 style="color: green; font-size: 40px">{{post.title}}</h1>
    {% if post.photo.url != '' %}
    <img src="{{post.photo.url}}" alt="제품 이미지" />
    {% else %}
    <img src="{% static 'posts/image/no_img.png' %}" alt="대체 텍스트" />
    {% endif %}
    <p>작성자: {{post.user.name}}</p>
    <p>나이: {{post.user.age}}</p>
    <p>지역: {{post.region}}</p>
    <p>가격: {{post.price}}</p>
    <h2 class="my-3">{{post.content}}</h2>
    <p>작성일: {{post.created_date}}</p>
    <p>수정일: {{post.updated_date}}</p>
    <p>이 작성자의 글</p>
    {% for rel_post in related_posts %}
    <a href="{% url 'posts:detail' rel_post.pk %}" class="btn btn-success">
      {{rel_post.title}}
    </a>
    {% endfor %}

    <hr />
    <a href="{% url 'posts:update' post.pk %}" class="btn btn-primary"
      >수정하기</a
    >
    <a href="{% url 'posts:delete' post.pk %}" class="btn btn-danger"
      >삭제하기</a
    >
    {% endblock content %}
  </body>
</html>
