@import "./nomalize.css";

body {
  display: flex;
  justify-content: center;
  background-color: #ddd!important;
  
}

main{
  background-color: #fff;
  width: 50%;
  height: 100%;
  padding: 1rem;
}

.search-box{
  display: flex;
  justify-content: space-around;
}

.search-box > form{
  display: flex;

}

.content-wrapper{
  padding: 10px;
}

.item{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.info *{
  margin: 5px;
}

.title{
  font-size: 1.5rem;
  text-decoration: none;
  padding-bottom: 5px;
}

#logo h1{
  margin: 20px 0 !important;
}

#logo{
  display: flex;
  justify-content: center;
}